*{
    margin: 0; padding: 0
}

button.do {
  padding: 10px;
  background: red;
  color: white;
}

button.xanh {
  background: #03A9F4;
  padding: 10px;
  color: white;
}
.page-link:focus{
  box-shadow: 0 0 0 0 rgba(0,123,255,.25) !important;
}